html, body {
    height:100%;
    height: 2800px;
    background-color:#282828;
    margin-top:0px;
    margin-bottom:0px;
}

@font-face {
	font-family:'Aleo-Regular';
	src: url('fonts/aleo/Aleo-Regular.otf');
	src: local('Aleo-Regular'), url('fonts/Aleo-Regular.otf') format('truetype');
}

@font-face {
	font-family:'Aleo-Bold';
	src: url('fonts/aleo/Aleo-Bold.otf');
	src: local('Aleo-Bold'), url('fonts/Aleo-Boldr.otf') format('truetype');
}

@font-face {
	font-family:'Aleo-LightItalic';
	src: url('fonts/aleo/Aleo-LightItalic.otf');
	src: local('Aleo-LightItalic'), url('fonts/Aleo-LightItalic.otf') format('truetype');
}

@font-face {
	font-family:'Aleo-Light';
	src: url('fonts/aleo/Aleo-Light.otf');
	src: local('Aleo-Light'), url('fonts/Aleo-Light.otf') format('truetype');
}


.container {
	margin: 0 auto;
	height: 2800;
	width:1500px;
	background: white;
}

.header {
	height:110px;
}

#logoTop {
	padding-left:200px;
	padding-top:40px;
}

ul {
    list-style-type: none;
    text-decoration:none;
    margin-top: -30px;
    padding-bottom: 0px;
    overflow: hidden;
	position:relative;
	float:right;
	padding-right:200px;
} 

li {
	display: inline;
    padding: 20px;
    
}

li a {
	text-decoration:none;
	color: #626262;
	font-family: 'Aleo-Regular';
	font-size:18px;
}

.underTheBillboard {
	background-color: white;
	height:75px;
	margin-top:0px;
	position: relative;
}

.redLine {
	margin-top:-30px;
	height:4px;
	background-color: #f34949;
	position:relative;
}

.menuBox {
	position:absolute;
	background-color: #f34949;
	width: 155px;
	height: 71px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;

}

.menuBox p {
	text-align:center;
	padding:5px;
	margin-top:5px;
	font-family: 'Aleo-Bold';
	color: white;
	font-size:22px;
}

.menuTableLeft {
	margin-left:200px;
	margin-top:80px;
}

.tableLineLeft {
	height:1px;
	width:10em;
	background:#a2a2a2;
	margin-top:10px;
}

td {
	font-family: 'Aleo-Regular';
	font-size: 16px;
	color: #555555;
}

.cellTextLeft {
	color: #555555;
}

.cellSubTextLeft {
	font-size:14px;
	font-family: Aleo-LightItalic;
	color:#cccccc;
}

.cellTextLeft:hover {
	color: #a2a2a2;
	cursor:pointer;
}

a:hover {
	color: #a2a2a2;
	cursor:pointer;
}

.menuTableRight {
	position:relative;
	margin-left:800px;
	margin-right:200px;
	margin-top:-275px;
}

.tableLineRight {
	height:1px;
	width:10em;
	background:#a2a2a2;
	margin-top:10px;
}

.cellTextRight {
	color: #555555;
}

.cellSubTextRight {
	font-size:14px;
	font-family: 'Aleo-LightItalic';
	font-weight: italic;
	color:#cccccc;
	
}

.cellTextRight:hover {
	color: #a2a2a2;
	cursor:pointer;
}

#loadMoreButton {
	position:relative;
	border: 1px solid #d7d5d5;
	width: 130px;
	text-align:center;
	left: 50%;
	margin-left: -65px;
	top:90px;
	padding:10px;
	background-color:#ffffff;
	border-bottom:hidden;
	color: #a2a2a2;
	letter-spacing:1.5px;
	font-family: 'Aleo-regular';
}

#featuredDishes {
	margin-top:200px;
	margin-left:200px;
	width:200px;
	text-align:center;
}

#featuredDishesText {
	position:relative;
	top:5px;
	color:#3b3b3b;
	font-family: 'Aleo-Bold';
	font-size:20px;
	text-align:left;
}

#featuredDishesPicture1 {
	margin-left:200px;
	margin-top:80px;
	margin-bottom: 30px;
	width:230px;
	height:300px;
}

#featuredDishesPicture2 {
	position:relative;
	margin-left:490px;
	bottom:330px;
	margin-bottom: 30px;
	width:230px;
}

#featuredDishesPicture3 {
	position:relative;
	margin-left:780px;
	bottom:707px;
	margin-bottom: 30px;
	width:230px;
}

#featuredDishesPicture4 {
	position:relative;
	margin-left:1070px;
	bottom:1085px;
	margin-bottom: 30px;
	width:230px;

}

#featuredDishesPicture1 img:hover {
	opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
   cursor:pointer;
}

#featuredDishesPicture2 img:hover {
	opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
   cursor:pointer;
}

#featuredDishesPicture3 img:hover {
	opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
   cursor:pointer;
}

#featuredDishesPicture4 img:hover {
	opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
   cursor:pointer;
}

#featured-dishes-pic1-text {
	height:100px;
}
#featured-dishes-pic1-text p {
	margin-top:30px;
	font-size:18px;
	font-family: 'Aleo-Light';
	color: #555555;
}

#price {
	position:relative;
	left:195px;
	bottom:48px;
	height:25px;
	width:30px;
}

#price > p {
	position:relative;
	bottom:7px;
	right:7px;
	height:22px;
	width:40px;
	text-align:center;
}


#featured-dishes-pic2-text p {
	margin-top:30px;
	font-size:18px;
	font-family: 'Aleo-Light';
	color: #555555;
}

#featured-dishes-pic2-text #price2 p {
	position:relative;
	left:188px;
	bottom:55px;
	height:22px;
	width:40px;
	text-align:center;
}

#featured-dishes-pic3-text p {
	margin-top:30px;
	font-size:18px;
	font-family: 'Aleo-Light';
	color: #555555;
}

#featured-dishes-pic3-text #price3 p {
	position:relative;
	left:188px;
	bottom:55px;
	height:22px;
	width:40px;
	text-align:center;
}


#featured-dishes-pic4-text p {
	margin-top:30px;
	font-size:18px;
	font-family: 'Aleo-Light';
	color: #555555;
}

#featured-dishes-pic4-text #price4 p {
	position:relative;
	left:188px;
	bottom:55px;
	height:22px;
	width:40px;
	text-align:center;
}

.fa-star {
	color:#dedede;
}

.pic-stars {
	position:relative;
	bottom:45px;
}

.fa-star.myHover {
	color:#f1df1a;
	cursor:pointer;
}

.the-gallery-wrapper {
	position:relative;
	bottom:1080px;
	width: 1100px;
	margin:0 auto;
	height: 540px;
}

.the-gallery-text {
	position:relative;	
	right:10px;
	width:150px;
	text-align:center;
}

.the-gallery-text p {
	position:relative;
	font-family: 'Aleo-Bold';
	font-size:20px;
	text-transform:uppercase;
	left:10px;
	color:#3b3b3b;
	text-align:left;
}

.gallery-pictures {
	position:absolute;
	background-color:green;
	width:1100px;
	height:433px;
	bottom: 0;
}

.gallery-picture-2 {
	position:absolute;
	left:33.4%;
	bottom: 49.1%;
}
